*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main-div{
  background-color: rgb(175, 175, 247);
  height: 100vh;
}
.center-div{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:50px;
  /* text-align: center; */
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.276);
  width: 400px;
  background-color: rgba(255, 255, 255, 0.843);
  border-radius: 15px;
  height: 500px;
}
.center-div ol li{
  list-style: none;
  margin: 8px 10px;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  color: #866CA6;
  word-wrap: break-word;
}
.center-div input:focus{
  outline: none !important;
  border: 2px solid #866CA6;
}
.center-div h1{
  background-color: #866CA6;
  color:white;
  padding: 8px;
  text-align: center;
}
.center-div input{
  margin-left: 10px;
  border-bottom: 2px solid #866CA6;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  width: 300px;
  font-size: large;
  color: #866CA6;
  font-weight: bold;
  font-style: italic;
  border-radius: 10px;
}
.center-div button{
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 50%;
  background-color: #866CA6;
  color: white;
  border: 1px solid white;
  font-weight: bolder;
  font-size: 25px;
}

.center-div button:hover{
  background-color: rgb(132, 241, 132);
}

.todo-list{
  display: flex;
  height: 40px;
  margin-top: 10px;
  border-radius: 15px;
  width: 350px;
  margin: 5px;
}

.todo-list button:hover{
  background-color: red;
}

.todo-list button{
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: light;
  font-size: small;
}
